@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');  /*font family source sans 3/*

/* Reset de estilos */
* {
    margin: 0; /* Elimina los márgenes por defecto */
    padding: 0; /* Elimina el relleno por defecto */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto del elemento */
    text-decoration: none; /* Elimina la decoración de texto por defecto, como subrayado en enlaces */
    font-family: "Source Sans 3", sans-serif; /* Define la fuente por defecto para todo el documento */
}
body{
    background: lightgray;
}
/* Estilos de la cabecera */
header {
    position: fixed; /* Fija la cabecera en la parte superior de la ventana */
    top: 0; /* Sitúa la cabecera en la parte superior */
    left: 0; /* Sitúa la cabecera en el extremo izquierdo */
    width: 100%; /* Establece el ancho de la cabecera al 100% del viewport */
    height: 80px; /* Establece la altura de la cabecera en 80 píxeles */
    background: skyblue; /* Fija el color de fondo de la cabecera */
    box-shadow: 0 10px 25px -22px black; /* Agrega una sombra a la cabecera */
    z-index: 10000;
    

}

/* Estilos del contenido de la cabecera */
.header-content {
    max-width: 1200px; /* Establece el ancho máximo del contenido de la cabecera */
    margin: auto; /* Centra el contenido horizontalmente dentro de la cabecera */
    display: flex; /* Utiliza flexbox para alinear elementos hijos */
    justify-content: space-between; /* Distribuye uniformemente los elementos hijos a lo largo del eje principal */
    position: relative;
}

/* Estilos del logo */
.paul-logo {
    height: 80px; /* Establece la altura del logo en 80 píxeles */
    display: flex; /* Utiliza flexbox para alinear elementos hijos */
    justify-content: center; /* Centra horizontalmente el contenido del logo */
    align-items: center; /* Centra verticalmente el contenido del logo */
    
}

.paul-logo h1 b {
    color: blue; /* Define el color del texto del logo */
}

/* Estilos del menú */
.menu {
    height: 80px; /* Establece la altura del menú en 80 píxeles */
    margin-right: 60px;
}

.menu nav {
    height: 100%; /* Establece la altura del nav al 100% de su contenedor */
    z-index: 10;
}

.menu nav ul {
    height: 100%; /* Establece la altura de la lista ul al 100% de su contenedor */
    display: flex; /* Utiliza flexbox para alinear elementos hijos */
    list-style: none; /* Elimina los estilos de la lista */
}

.menu nav ul li {
    height: 100%; /* Establece la altura del ítem de lista al 100% de su contenedor */
    margin: 0px 20px; /* Establece los márgenes de los ítems de lista */
    display: flex; /* Utiliza flexbox para alinear elementos hijos */
    justify-content: center; /* Centra horizontalmente el contenido de los ítems de lista */
    align-items: center; /* Centra verticalmente el contenido de los ítems de lista */
    position: relative; /* Establece la posición relativa para los ítems de lista */
}

.menu-selected:before {
    content: ''; /* Añade un contenido vacío */
    width: 100%; /* Establece el ancho del pseudoelemento al 100% */
    height: 4px; /* Establece la altura del pseudoelemento en 4 píxeles */
    background: blue; /* Fija el color de fondo del pseudoelemento */
    position: absolute; /* Fija la posición del pseudoelemento de manera absoluta */
    left: 0; /* Fija la posición del pseudoelemento en el extremo izquierdo */
    top: 0; /* Fija la posición del pseudoelemento en la parte superior */
}

.menu nav ul li a {
    color: whitesmoke; /* Define el color del texto de los enlaces del menú */
    font-size: 20px;
    transition: color 600ms; /* Aplica una transición suave al color del texto */
}

.menu nav ul li a:hover {
    color: blue; /* Cambia el color del texto del enlace al pasar el cursor sobre él */
    
}

.menu .text-menu-selected {
    color: blue; /* Define el color del texto seleccionado en el menú */
}
.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 30px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
#icon-menu:hover{
    opacity: 0.8;
}


/*Buscador de contenido*/

#ctn-icon-search{
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctn-icon-search i{
    font-size: 18px;
    color: #777777;
    cursor: pointer;
    transition: all 300ms;
}

#ctn-icon-search i:hover{
    color: #46a2fd;
}


#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
    
}

#ctn-bars-search input{
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}


#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}

/*boton para subir*/
#button-up{
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    
}





#button-up:hover{
    transform: scale(1.2);
    border-color: rgba(0,0,0,0.1);
}

/*footer - pie de pagina*/
.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;

}
.container-footer footer{
    max-width: 1200px; 
    margin: auto;

}

.container-footer footer .logo-footer {
    text-align: center;
}

.container-footer footer img{
    width: 100px;
}

.container-footer footer .redes-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 30px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #a2a2a2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-footer footer .redes-footer .fa-x-twitter:hover{
    background: #657786;
    color: white;
}


.container-footer footer .redes-footer .fa-facebook-f:hover{
    background: #3b5998;
    color: white;
}


.container-footer footer .redes-footer .fa-telegram:hover{
    background: #0088cc;
    color: white;
}


.container-footer footer .redes-footer .fa-google-plus-g:hover{
    background: #dd4b39;
    color: white;
}

.container-footer footer .redes-footer .fa-instagram:hover{
    
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
}



/* Estilos del hr del footer */
.container-footer footer hr {
    border: none; /* Elimina cualquier borde por defecto */
    height: 10px;
    background: blue;
    border-top: 5px solid skyblue; /* Establece el grosor y color de la línea */
    margin-top: 10px; /* Ajusta el margen superior para separarlo de los íconos */
}


.container-footer footer h4{
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
}

/* responsive design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }
    #ctn-bars-search,
    #ctn-bars-search input
    #box-search{
        
        width: 100%;
        
    }
}

@media screen and (max-width: 800px){  
    
    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 600ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);    
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: linear-gradient(to bottom, skyblue 40%,black);
        overflow: hidden;
        transition: all 300ms cubic-bezier(1,0,0,1);
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 600ms cubic-bezier(1,0,0,1);
    }

    .show-lateral{
        width: 300px;
        transform: translateX(0px);
        
    }
    .menu nav ul{
        flex-direction: column;
        
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: lightgray;
    }
    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 15px;
    }

    #icon-menu{
        display: flex;
        right: 60px;
    }
    .container-aside{
        flex-wrap: wrap;
    }
}